node_modules
.next
out
.DS_Store
*.log
.env
.env.local
.env*.local
!.env.example
*.db
*.db-journal
*.db-wal
public/uploads/**
!public/uploads/**/.gitkeep
.cursor
tsconfig.tsbuildinfo
.ssh-local
tsconfig.tsbuildinfo
